extends layout

block content
  div.container
    div.jumbotron
      h1= settings.title
      p Welcome to #{settings.package.description}
      p Version #{settings.package.version}
  include inc/footer
