extends layout

block content
  div.top
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Table
            th Heading
        tbody
          tr
            td Blah
            td Test
          tr
            td Hello
            td World
  div.footer
    hr
    p. Francois Lacroix, Copyright 2014 Julmay. Hecho con amor en Barcelona.
