extends layout

block content
  div.container
    div.content
       form.form-horizontal(method="post", enctype="multipart/form-data", id="uploadForm", name="uploadForm", action="/import")
         fieldset
          legend Import
         div.control-group
           label Or import your file:
           input.btn(id="embedfile", name="embedfile", type="file", class="btn btn-large")
         div.control-group
           label Or drop your file:
           div.drop_zone(id="drop_zone") Drop your files here
           output(id="list")
           br
         div.form-actions
           input.btn(type="submit", id="proceed", name="proceed", value="Proceed >>", class="btn btn-large btn-primary")

  include inc/footer

  script(src='/javascripts/ui_import.js')
