extends layout

block content
  div.container
    div.jumbotron
      h2= settings.title
      p Welcome to #{settings.title} #{settings.version}
      p(style="text-align: center")
       a(href="/views"): img(src="/images/report.png", title="Report data", alt="Views data", width="250", height="250")
       a(href="/graph"): img(src="/images/chart.png", title="Graph data", alt="Graph data", width="250", height="250")
       a(href="/import"): img(src="/images/import.png", title="Import data", alt="Import data", width="250", height="250")
       a(href="/market"): img(src="/images/market.png", title="Market", alt="Market", width="250", height="250")

  include inc/footer
